/* Phone */
body {
    background-color: #318645;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-image: url("https://res.cloudinary.com/foladevelops/image/upload/v1757614836/Generated_Image_September_08_2025_-_1_20PM_q3fpld.png");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    color: #f7f4f1;
}

img#logo {
    height: 17vw;
    margin-left: 2vw;
}

div#top-holder {
    padding-top: 3.5vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: #318645;
}

svg#menu-svg {
    color: #f7f4f1;
    height: 5vw;
    width: 5vw;
    padding: 2vw 0.5vw;
}

div#menu-holder {
    height: 17vw;
    display: flex;
    align-items: center;
    margin-right: 6.5vw;
}

button#menu-button {
    background-color: transparent;
    border: 0.2vw solid #f7f4f1;
    border-radius: 12px;
}

div#links-holder {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20.5vw;
    background-color: #318645;
    padding-bottom: 4vw;
    /* border-bottom: 0.1vw solid #f7f4f1; */
    z-index: 1;
}

div.link-holder {
    height: 8vw;
    width: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

a.nav-link {
    color: #f7f4f1;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
}

div#carousel-holder {
    margin: 0vw 13vw;
    margin-bottom: 8vw;
    /* margin-top: 6vw; */
}

div.image-holder {
    position: relative; 
}

div.image-bg {
    border: 3vw solid rgba(100, 200, 150, 0.8);
    border-radius: 28px;
    overflow: hidden;
    width: 60vw;
    height: 60vw;
    margin: 0vw 4vw;
}

img.carousel-image {
    width: 60vw;
    height: 60vw;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    /* filter: brightness(0.5); */
}

div#quickbite-carousel {
  visibility: hidden;
}

div#quickbite-carousel.slick-initialized {
  visibility: visible;
}

div.header-holder {
    position: absolute;   /* overlays on top of the image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* perfectly centers */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    z-index: 1;
}

h1.site-header {
    text-align: center;
    width: 48vw;
    font-size: 1.518rem;
    font-weight: 900;
    color: #eb8640;
    font-family: "Playfair Display", serif;
}

div.super {
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* div.head-hold {
    width: 48vw;
} */

h1.site-head {
    text-align: center;
    font-size: 1.518rem;
    font-weight: 400;
    /* color: #a9cf46; */
    font-family: "Playfair Display", serif;
}

svg.f-n {
    width: 1.068rem;
    height: 1.068rem;
    color: #a9cf46;
}

div#grandpa-actions {
    width: 92vw;
    display: flex;
    justify-content: center;
}

div#mr-actions {
    display: flex;
    gap: 4vw;
}

a.action-button {
    background: transparent;
    border-radius: 10px;
    border: 0.2vw solid #f7f4f1;
    width: 39.6vw;
    height: 11.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f4f1;
    text-decoration: none;
    font-size: 1rem;
}

a#menu-button {
    background-color: #a9cf46;
    border: none;
    width: 40vw;
    height: 11.9vw;
    color: #252525;
}

h2 {
    font-size: 1.618rem;
    text-align: center;
}

div.section {
    margin: 0vw 4vw;
    margin-bottom: 17vw;
}

p {
    font-size: 1rem;
    text-align: center;
}

h2#about-title {
    margin-bottom: 2.5vw;
}

p#about-content {
    margin-top: 0;
}

div.review-holder {
    border-radius: 16px;
    border: 0.6vw solid #f7f4f1;
    width: 70.8vw;
    background: rgba(160,160,160, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw 6vw;
    margin: 0vw 4vw;
}

div#reviewers-holder {
    margin: 0vw 8vw;
    /* margin-bottom: 14vw; */
    width: 76vw;
}

h2#reviews-title {
    margin-bottom: 12vw;
}

div#reviews-holder {
    margin-bottom: 14vw;
}

div.faq-holder {
    border-radius: 14px;
    border: 0.2vw solid #f7f4f1;
    padding: 1.5vw 6vw;
    margin-bottom: 2vw;
}

div#faq-house {
    margin-bottom: 14vw;
}

svg.contact-icon {
    width: 0.75rem;
    height: 0.75rem;
}

a {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

a#chat-us {
    color: #a9cf46;
    margin-bottom: 6vw;
}

svg.chat-us {
    color: #f7f4f1;
}

div#open-chat {
    display: flex;
    justify-content: center;
}

img#menu {
    width: 100vw;
    /* border-top: 0.2vw solid #f7f4f1; */
    /* border-bottom: 0.2vw solid #f7f4f1; */
    padding-top: 6vw;
    padding-bottom: 4vw;
}

div#menu-action {
    display: flex;
    justify-content: center;
    padding-bottom: 17vw;
}

a#order-now {
    background-color: #a9cf46;
    border: none;
    width: 40vw;
    height: 11.9vw;
    color: #252525;
}

svg.action-icon {
    width: 0.75rem;
    height: 0.75rem;
}

p.action-text {
    white-space: pre;
}

div.map {
    width: 92vw;
    display: flex;
    justify-content: center;
    margin-bottom: 8vw;
}

iframe.location {
    border-radius: 24px;
    width: 80vw;
    height: 70vw;
    border: none;
}

div#g-maps {
    width: 92vw;
    display: flex;
    justify-content: center;
    /* margin-bottom: 17vw; */
}

a#map-button {
    background-color: #a9cf46;
    border: none;
    width: 66vw;
    height: 11.9vw;
    color: #252525;
}

div.copy {
    margin-bottom: 0;
}

p#copyright {
    font-size: 0.768rem;
    color: #f7f4f1;
}

div#gallery-holder {
    margin-top: 6vw;
    margin-bottom: 8vw;
}

div#media {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-auto-rows: 30vw;
    gap: 1vw;
}

img.gallery-image {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    object-position: center;
}

div#gallery-holder {
    margin-top: 23vw;
}

img#menu, div.super {
    margin-top: 17vw;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

svg.fried-egg, svg.leaf, svg.lightning {
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

/* Tablet */
@media (min-width: 481px) {
    a#menu-button {
        width: 30vw;
        height: 8.925vw;
    }

    a#order-button {
        width: 29.7vw;
        height: 8.525vw;
    }

    a.action-button {
        border: 0.15vw solid #f7f4f1;
    }
    
    div.image-bg {
        width: 45vw;
        height: 45vw;
        border: 2.25vw solid rgba(100, 200, 150, 0.8);
    }

    div#carousel-holder {
        margin: 0vw 20.5vw;
        margin-bottom: 6vw;
    }

    div.super {
        margin-top: 12.75vw;
    }

    img#logo {
        height: 12.75vw;
        margin-left: 1.5vw;
    }

    div#menu-holder {
        height: 12.75vw;
        margin-right: 4.875vw;
    }

    svg#menu-svg {
        height: 3.75vw;
        width: 3.75vw;
        padding: 2vw 0.5vw;
    }

    button#menu-button {
        border: 0.15vw solid #f7f4f1;
    }

    div#top-holder {
        padding-top: 2.625vw;
    }

    div#links-holder {
        top: 15.375vw;
        padding-bottom: 3vw;
    }

    div.section {
        margin: 0vw 3vw;
        margin-bottom: 7.5vw;
    }

    div#grandpa-actions {
        width: 94vw;
    }
    
    div.review-holder {
        border: 0.4vw solid #f7f4f1;
        width: 53.5vw;
    }

    h2#reviews-title {
        margin-bottom: 9vw;
    }

    div.faq-holder {
        width: 51vw;
    }

    div#faq-house {
        width: 94vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6.18vw;
    }

    p#about-content {
        width: 58vw;
    }

    div#about-holder {
        width: 94vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#reviews-holder {
        margin-bottom: 7.5vw;
    }

    div.map {
        width: 94vw;
    }

    iframe.location {
        width: 60vw;
        height: 52.5vw;
    }

    a#map-button {
        width: 49.5vw;
        height: 8.925vw;
    }  
    
    div#reviews-holder {
        width: 94vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#reviewers-holder {
        width: 57vw;
    }

    div#mr-actions {
        gap: 3vw;
    }

    p.address {
        width: 63vw;
    }

    div.contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a#chat-us {
        margin-top: 2vw;
    }

    div.link-holder {    
        height: 6vw;
        width: 21vw;
    }

    a#order-now {
        width: 30vw;
        height: 8.925vw;
    }

    img#menu {
        width: 82vw;
        margin-top: 12.75vw;
    }

    div#menu-cover {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    img.gallery-image {
        width: 22.5vw;
        height: 22.5vw;
    }

    div#media {
        grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
        grid-auto-rows: 22.5vw;
        gap: 1.33vw;
    }

    div#gallery-holder {
        margin-top: 17vw;
        margin-bottom: 5vw;
    }

    div#menu-action {
        padding-bottom: 7.5vw;
    }
}

/* Laptop */
@media (min-width: 769px) {
    a#menu-button {
        width: 25vw;
        height: 6.6125vw;
    }

    a#order-button {
        width: 24.76vw;
        height: 6.2125vw;
    }

    a.action-button {
        border: 0.12vw solid #f7f4f1;
    }
    
    div.image-bg {
        width: 34.5vw;
        height: 34.5vw;
        border: 1.725vw solid rgba(100, 200, 150, 0.8);
    }

    div#carousel-holder {
        margin: 0vw 27.025vw;
        margin-bottom: 4.6vw;
    }

    div.super {
        margin-top: 11.7875vw;
    }

    img#logo {
        height: 9.775vw;
        margin-left: 1.15vw;
    }

    div#menu-holder {
        height: 9.775vw;
        margin-right: 3.7375vw;
    }

    svg#menu-svg {
        height: 2.875vw;
        width: 2.875vw;
        padding: 2vw 0.5vw;
    }

    button#menu-button {
        border: 0.12vw solid #f7f4f1;
    }

    div#top-holder {
        padding-top: 2.0125vw;
    }

    div#links-holder {
        top: 11.7875vw;
        padding-bottom: 2.3vw;
    }

    div.section {
        margin: 0vw 2.3vw;
        margin-bottom: 4.5vw;
    }
    
    div.review-holder {
        border: 0.3vw solid #f7f4f1;
        width: 53.7vw;
    }

    div#grandpa-actions {
        width: 95.4vw;
    }

    h2#reviews-title {
        margin-bottom: 4.5vw;
    }

    div.faq-holder {
        width: 46vw;
    }

    div#faq-house {
        width: 94vw;
        margin-bottom: 5.1vw;
    }

    p#about-content {
        width: 49vw;
    }

    div#about-holder {
        width: 95.4vw;
    }

    div#reviews-holder {
        margin-bottom: 7.5vw;
    }

    div.map {
        width: 94vw;
    }

    iframe.location {
        width: 46vw;
        height: 40.25vw;
    }

    a#map-button {
        width: 37.95vw;
        height: 6.6125vw;
    }  
    
    div#reviews-holder {
        width: 94vw;
    }

    div#reviewers-holder {
        width: 57vw;
    }

    div#mr-actions {
        gap: 2.3vw;
    }

    p.address {
        width: 52vw;
    }

    div.link-holder {    
        height: 4.6vw;
        width: 16.1vw;
    }

    a#order-now {
        width: 25vw;
        height: 6.6125vw;
    }

    img#menu {
        width: 71vw;
        margin-top: 11.7875vw;
    }

    img.gallery-image {
        width: 18.2vw;
        height: 18.2vw;
    }

    div#media {
        grid-template-columns: 18.2vw 18.2vw 18.2vw 18.2vw 18.2vw;
        grid-auto-rows: 18.2vw;
        gap: 1.1vw;
    }

    div#gallery-holder {
        margin-top: 15vw;
        margin-bottom: 4vw;
    }

    div#menu-action {
        padding-bottom: 4.5vw;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    a#menu-button {
        width: 18vw;
        height: 4.761vw;
    }

    a#order-button {
        width: 17.8vw;
        height: 4.361vw;
    }

    a.action-button {
        border: 0.1vw solid #f7f4f1;
    }
    
    div.image-bg {
        width: 24.84vw;
        height: 24.84vw;
        border: 1.242vw solid rgba(100, 200, 150, 0.8);
    }

    div#carousel-holder {
        margin: 0vw 32.338vw;
        margin-bottom: 4.6vw;
    }

    div.super {
        margin-top: 8.487vw;
    }

    img#logo {
        height: 7.038vw;
        margin-left: 0.828vw;
    }

    div#menu-holder {
        height: 7.038vw;
        margin-right: 2.691vw;
    }

    svg#menu-svg {
        height: 2.07vw;
        width: 2.07vw;
        padding: 1.44vw 0.36vw;
    }

    button#menu-button {
        border: 0.1vw solid #f7f4f1;
    }

    div#top-holder {
        padding-top: 1.449vw;
    }

    div#links-holder {
        top: 8.487vw;
        padding-bottom: 1.656vw;
    }

    div.section {
        margin: 0vw 1.656vw;
        margin-bottom: 1.8vw;
    }

    div#grandpa-actions {
        width: 96.688vw;
    }

    div.review-holder {
        border: 0.2vw solid #f7f4f1;
        width: 53.9vw;
    }

    h2#reviews-title {
        margin-bottom: 4.5vw;
    }

    div.faq-holder {
        width: 40vw;
        padding: 1vw 3vw;
    }

    div#faq-house {
        width: 94vw;
        margin-bottom: 2.856vw;
    }

    p#about-content {
        width: 37vw;
    }

    div#about-holder {
        width: 95.4vw;
    }

    div#reviews-holder {
        margin-bottom: 4.2vw;
    }

    div.review-holder {
        padding: 1.5vw 3.4vw;
    }

    div.map {
        width: 94vw;
    }

    iframe.location {
        width: 33.12vw;
        height: 28.98vw;
    }

    a#map-button {
        width: 27.324vw;
        height: 6.6125vw;
        height: 4.761vw;
    }  
    
    div#reviews-holder {
        width: 94vw;
    }

    div#reviewers-holder {
        width: 51vw;
    }

    div#mr-actions {
        gap: 2.3vw;
    }

    p.address {
        width: 52vw;
    }

    div.link-holder {    
        height: 3.312vw;
        width: 11.592vw;
    }

    a#order-now {
        width: 18vw;
        height: 4.761vw;
    }

    img#menu {
        width: 61vw;
        margin-top: 8.487vw;
    }

    img.gallery-image {
        width: 15.2813vw;
        height: 15.2813vw;
    }

    div#media {
        grid-template-columns: 15.2813vw 15.2813vw 15.2813vw 15.2813vw 15.2813vw 15.2813vw;
        grid-auto-rows: 15.2813vw;
        gap: 1vw;
    }

    div#gallery-holder {
        margin-top: 11vw;
        margin-bottom: 3.5vw;
    }

    div#menu-action {
        padding-bottom: 2.856vw;
    }

    a#chat-us {
        margin-bottom: 4vw;
    }

    div.map {
        margin-bottom: 4.7vw;
    }
}

/* Large Screen */
@media (min-width: 1201px) {
    svg#menu-svg {
        padding: 1.36vw 0.36vw;
    }
}